
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= page_title || current_url %> — aerogel/admin</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <%= assets 'controllers/admin' %>

  </head>

  <body>

    <!-- Fixed navbar -->
    <%= partial 'layouts/admin/menu' %>

    <!-- Begin page content -->
    <div id="page-content" class="container">

<!--
    <% if page_title %>
      <div class="page-header">
        <h1><%= page_title %></h1>
      </div>
    <% end %>
-->

    <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:debug] %>
        <div class="alert alert-warning"><%= flash[:debug] %></div>
    <% end %>
    <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>

        <%= yield %>

        <p></p>
    </div>

    <div id="footer">
      <div class="container" id="footer-contents">
        <span class="home-link pull-left">
            <a href="/"><%= icon 'fa-home' %> <%= t.aerogel.admin.homepage %></a>
        </span>
        &nbsp;/
        <span class="pull-right">
            <%= icon "aerogel-logo", style: "vertical-align: middle" %> aerogel / admin
        </span>
      </div>
    </div>

    <!-- modals layout  -->
    <%= partial 'layouts/admin/modals' %>

    <!-- ajax 'loading' indicator  -->
    <%= partial 'layouts/admin/ajax_indicator' %>

  </body>
</html>

