<% page_title t.aerogel.admin.views.users.delete.title %>

<% form @user, action: "/admin/users/#{@user.id}/delete" do %>

<%= t.aerogel.admin.views.users.delete.text name: h( object.full_name ) %>

<p class="alert alert-warning">
    <%= icon_warning %> <%= t.aerogel.admin.warning_permanent_action %>
</p>
<%=     button :cancel, url: '/admin/users/' %>
<%=     button :danger_submit, label: t.aerogel.admin.actions.users.delete %>
<% end %>
