<% page_title t.aerogel.admin.views.users.edit.title %>

<% form @user, action: "/admin/users/#{@user.id}/edit" do %>
<%=     field :full_name %>
<%      table object.emails do
            column :email
            column :confirmed, label: '' do |e|
                user_email_confirmed_as_label( e )
            end
            column :confirmation_link, label: '' do |e|
                e.confirmed ? '' : link_to(
                    "#request_email_confirmation",
                    t.aerogel.admin.actions.user_email.request_confirmation
                )
            end
        end
%>
<%      table object.authentications do
            column :provider, label: object.model_name.human do |a|
                auth_provider_as_icon( a.provider )+" #{auth_provider_as_text a.provider}"
            end
            column :uid
        end
%>
<%=     field :roles, value: object.roles.join(", ") %>

<p>
    <em>
        <%= User.human_attribute_name :created_at %>
        <%= l object.created_at, default: :never, format: :short %>
    </em><br/>
    <em>
        <%= User.human_attribute_name :updated_at %>
        <%= l object.updated_at, default: :never, format: :short %>
    </em><br/>
    <em>
        <%= User.human_attribute_name :authenticated_at %>
        <%= l object.authenticated_at, default: :never, format: :short %>
    </em><br/>
</p>

<%=     button :cancel, url: '/admin/users/' %>
<%=     button :save %>


<% end %>
